node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/static/main.wasm
/static/mathquill.min.js
/static/wasm_exec.js
/src/mathquill.d.ts
/static/mathquill.js
/src/lib/wasm_exec.js
/src/lib/components/ui
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
wasm.js
vite.config.js*
svelte.config.js
tailwind.config.js