.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/static/main.wasm
/static/mathquill.min.js
/static/wasm_exec.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
