{
	"*.{js,ts,svelte,css,scss,postcss,md,json}": [
		"prettier --write --plugin prettier-plugin-svelte",
		"prettier --check --plugin prettier-plugin-svelte"
	],
	"*.{js,ts,svelte}": "eslint",
	"*.{svelte,css,scss,postcss}": ["stylelint --fix", "stylelint"]
}
