@import url('./tokens.css');
@import url('./reset.css');
@import url('./buttons.css');
@import url('./mathquill.css');
@import url('./mathquill-changes.css');

body {
	font-family: var(--sans);
	line-height: 1.618;
	color: hsl(var(--foreground));
	background-color: hsl(var(--background));
}

* {
	scrollbar-width: thin;
}

math {
	math-style: normal;
}
