@media (prefers-color-scheme: dark) {
	:root {
		--amberA1: hsl(0deg 0% 0% / 0%);
		--amberA2: hsl(31deg 100% 49.7% / 3.6%);
		--amberA3: hsl(27deg 100% 49.9% / 9.4%);
		--amberA4: hsl(29deg 100% 50% / 14.3%);
		--amberA5: hsl(31deg 100% 50% / 19.2%);
		--amberA6: hsl(35deg 100% 50% / 25%);
		--amberA7: hsl(34deg 99.6% 52.9% / 33.1%);
		--amberA8: hsl(36deg 100% 50% / 44.2%);
		--amberA9: hsl(40deg 100% 57.2% / 98%);
		--amberA10: hsl(44deg 100% 64.2% / 98%);
		--amberA11: hsl(39deg 99.9% 52.7% / 93.8%);
		--amberA12: hsl(45deg 100% 94.2% / 98%);
	}
}
