:root {
	--amberA1: hsl(40deg 94.9% 38.7% / 1.6%);
	--amberA2: hsl(40deg 100% 50.3% / 7.1%);
	--amberA3: hsl(44deg 100% 50.1% / 16.5%);
	--amberA4: hsl(43deg 100% 50% / 26.3%);
	--amberA5: hsl(42deg 100% 50% / 36.5%);
	--amberA6: hsl(38deg 100% 50.1% / 47.5%);
	--amberA7: hsl(36deg 99.9% 46.2% / 61.2%);
	--amberA8: hsl(35deg 99.8% 46% / 83.2%);
	--amberA9: hsl(39deg 100% 50% / 85.9%);
	--amberA10: hsl(35deg 100% 50% / 89.1%);
	--amberA11: hsl(29deg 100% 33.6% / 98%);
	--amberA12: hsl(20deg 99.8% 14.1% / 96.5%);
}
