:root {
	--blackA1: hsl(0deg 0% 0% / 1.2%);
	--blackA2: hsl(0deg 0% 0% / 2.7%);
	--blackA3: hsl(0deg 0% 0% / 4.7%);
	--blackA4: hsl(0deg 0% 0% / 7.1%);
	--blackA5: hsl(0deg 0% 0% / 9%);
	--blackA6: hsl(0deg 0% 0% / 11.4%);
	--blackA7: hsl(0deg 0% 0% / 14.1%);
	--blackA8: hsl(0deg 0% 0% / 22%);
	--blackA9: hsl(0deg 0% 0% / 43.9%);
	--blackA10: hsl(0deg 0% 0% / 47.8%);
	--blackA11: hsl(0deg 0% 0% / 56.5%);
	--blackA12: hsl(0deg 0% 0% / 91%);
}
