:root {
	--blue1: hsl(206deg 100% 99.2%);
	--blue2: hsl(210deg 100% 98%);
	--blue3: hsl(209deg 100% 96.5%);
	--blue4: hsl(210deg 98.8% 94%);
	--blue5: hsl(209deg 95% 90.1%);
	--blue6: hsl(209deg 81.2% 84.5%);
	--blue7: hsl(208deg 77.5% 76.9%);
	--blue8: hsl(206deg 81.9% 65.3%);
	--blue9: hsl(206deg 100% 50%);
	--blue10: hsl(208deg 100% 47.3%);
	--blue11: hsl(211deg 100% 43.2%);
	--blue12: hsl(211deg 100% 15%);
}
