@media (prefers-color-scheme: dark) {
	:root {
		--bronzeA1: hsl(0deg 0% 0% / 0%);
		--bronzeA2: hsl(20deg 88.2% 74.2% / 2.7%);
		--bronzeA3: hsl(10deg 99.4% 83% / 7.4%);
		--bronzeA4: hsl(18deg 96% 81.1% / 11.4%);
		--bronzeA5: hsl(18deg 99.4% 81.7% / 14.8%);
		--bronzeA6: hsl(15deg 98.1% 82.4% / 19.2%);
		--bronzeA7: hsl(16deg 99.2% 82.9% / 27%);
		--bronzeA8: hsl(18deg 99.5% 82.6% / 39.6%);
		--bronzeA9: hsl(18deg 99.3% 85% / 59.2%);
		--bronzeA10: hsl(18deg 99.6% 85.2% / 65.7%);
		--bronzeA11: hsl(17deg 99.9% 86.1% / 77.4%);
		--bronzeA12: hsl(20deg 99.8% 96.4% / 97.4%);
	}
}
