:root {
	--bronzeA1: hsl(0deg 89.3% 18.3% / 1.2%);
	--bronzeA2: hsl(17deg 95.1% 40.1% / 3.6%);
	--bronzeA3: hsl(18deg 98.3% 29.8% / 6.7%);
	--bronzeA4: hsl(17deg 99.6% 26% / 10.6%);
	--bronzeA5: hsl(19deg 99.6% 23.8% / 15.7%);
	--bronzeA6: hsl(17deg 99.2% 22.5% / 22%);
	--bronzeA7: hsl(18deg 99.7% 21.6% / 31%);
	--bronzeA8: hsl(17deg 99.5% 20.2% / 42%);
	--bronzeA9: hsl(18deg 99.9% 16.7% / 55.3%);
	--bronzeA10: hsl(17deg 99.2% 15.4% / 58.9%);
	--bronzeA11: hsl(15deg 99.9% 13.2% / 65.5%);
	--bronzeA12: hsl(12deg 98.7% 5.7% / 83.2%);
}
