:root {
	--crimsonA1: hsl(340deg 100% 51% / 1.2%);
	--crimsonA2: hsl(330deg 100% 51% / 3.2%);
	--crimsonA3: hsl(332deg 99.1% 47.1% / 6.3%);
	--crimsonA4: hsl(331deg 99.9% 44.3% / 10.2%);
	--crimsonA5: hsl(333deg 99.9% 42.3% / 15.3%);
	--crimsonA6: hsl(333deg 99.5% 40.5% / 22.4%);
	--crimsonA7: hsl(335deg 99.7% 39.1% / 32.2%);
	--crimsonA8: hsl(336deg 99.5% 38.5% / 44%);
	--crimsonA9: hsl(336deg 99.9% 44.3% / 76.1%);
	--crimsonA10: hsl(336deg 100% 42.5% / 80.8%);
	--crimsonA11: hsl(336deg 99.8% 40.3% / 88.3%);
	--crimsonA12: hsl(340deg 99% 10% / 95%);
}
