@media (prefers-color-scheme: dark) {
	:root {
		--crimson1: hsl(335deg 20% 9.6%);
		--crimson2: hsl(335deg 32.2% 11.6%);
		--crimson3: hsl(335deg 42.5% 16.5%);
		--crimson4: hsl(335deg 47.2% 19.3%);
		--crimson5: hsl(335deg 50.9% 21.8%);
		--crimson6: hsl(335deg 55.7% 25.3%);
		--crimson7: hsl(336deg 62.9% 30.8%);
		--crimson8: hsl(336deg 74.9% 39%);
		--crimson9: hsl(336deg 80% 57.8%);
		--crimson10: hsl(339deg 84.1% 62.6%);
		--crimson11: hsl(341deg 90% 67.3%);
		--crimson12: hsl(332deg 87% 96%);
	}
}
