:root {
	--cyanA1: hsl(195deg 95.2% 41.2% / 2%);
	--cyanA2: hsl(185deg 99.9% 42.3% / 5.1%);
	--cyanA3: hsl(186deg 97.8% 42.2% / 9.5%);
	--cyanA4: hsl(186deg 99.9% 38.5% / 15.3%);
	--cyanA5: hsl(187deg 99.3% 36.6% / 23.2%);
	--cyanA6: hsl(188deg 99.4% 35.4% / 33.4%);
	--cyanA7: hsl(189deg 99.6% 35% / 48.3%);
	--cyanA8: hsl(189deg 99.9% 37.6% / 76.1%);
	--cyanA9: hsl(190deg 100% 37.8% / 98%);
	--cyanA10: hsl(191deg 99.9% 34.6% / 96.9%);
	--cyanA11: hsl(192deg 100% 27.6% / 95.3%);
	--cyanA12: hsl(192deg 100% 11% / 98%);
}
