@media (prefers-color-scheme: dark) {
	:root {
		--cyanA1: hsl(0deg 0% 0% / 0%);
		--cyanA2: hsl(196deg 100% 50% / 3.1%);
		--cyanA3: hsl(192deg 98% 50.9% / 8.5%);
		--cyanA4: hsl(194deg 99.6% 51.3% / 13.3%);
		--cyanA5: hsl(192deg 99.5% 51.3% / 17.3%);
		--cyanA6: hsl(193deg 99.7% 50.4% / 22.6%);
		--cyanA7: hsl(192deg 100% 50% / 31%);
		--cyanA8: hsl(193deg 100% 50% / 42.5%);
		--cyanA9: hsl(190deg 99.8% 50.8% / 73.1%);
		--cyanA10: hsl(188deg 100% 50% / 77.5%);
		--cyanA11: hsl(186deg 100% 49.9% / 82.4%);
		--cyanA12: hsl(185deg 99.8% 95.1% / 97.8%);
	}
}
