:root {
	--goldA1: hsl(60deg 89.3% 18.3% / 1.2%);
	--goldA2: hsl(47deg 99.9% 34.6% / 5.1%);
	--goldA3: hsl(45deg 97% 27.9% / 8.7%);
	--goldA4: hsl(46deg 98% 25.4% / 13.4%);
	--goldA5: hsl(43deg 98.4% 22.6% / 18.5%);
	--goldA6: hsl(41deg 99.7% 22% / 25.9%);
	--goldA7: hsl(38deg 99.8% 21.5% / 35.7%);
	--goldA8: hsl(36deg 99.3% 21.5% / 48.7%);
	--goldA9: hsl(36deg 99.9% 16.2% / 60.4%);
	--goldA10: hsl(36deg 99.2% 14.6% / 63.6%);
	--goldA11: hsl(35deg 99.1% 11.2% / 68.7%);
	--goldA12: hsl(38deg 98% 3.8% / 83.2%);
}
