@media (prefers-color-scheme: dark) {
	:root {
		--goldA1: hsl(0deg 0% 0% / 0%);
		--goldA2: hsl(40deg 93.7% 70.6% / 2.2%);
		--goldA3: hsl(40deg 97.5% 80.6% / 6.5%);
		--goldA4: hsl(40deg 95.9% 80.8% / 10%);
		--goldA5: hsl(38deg 97.3% 82.1% / 13%);
		--goldA6: hsl(39deg 97.2% 82.5% / 16.9%);
		--goldA7: hsl(37deg 99.3% 82.4% / 24.6%);
		--goldA8: hsl(35deg 98.7% 82.2% / 36.3%);
		--goldA9: hsl(36deg 99.7% 82.8% / 55.2%);
		--goldA10: hsl(35deg 99.2% 83.7% / 61.3%);
		--goldA11: hsl(35deg 99.3% 85.3% / 72.5%);
		--goldA12: hsl(49deg 98.6% 96.7% / 96.6%);
	}
}
