@media (prefers-color-scheme: dark) {
	:root {
		--grassA1: hsl(0deg 0% 0% / 0%);
		--grassA2: hsl(107deg 97.2% 61.9% / 2.2%);
		--grassA3: hsl(128deg 96.5% 69.8% / 6.6%);
		--grassA4: hsl(130deg 100% 70.2% / 10%);
		--grassA5: hsl(130deg 98.2% 69.1% / 14%);
		--grassA6: hsl(132deg 99.9% 69.3% / 18.7%);
		--grassA7: hsl(132deg 99.9% 69.8% / 26.1%);
		--grassA8: hsl(130deg 99.6% 70.5% / 37%);
		--grassA9: hsl(130deg 99.7% 70.6% / 61.8%);
		--grassA10: hsl(131deg 100% 73.5% / 67.4%);
		--grassA11: hsl(130deg 99.7% 75.6% / 73.1%);
		--grassA12: hsl(137deg 100% 95.8% / 98%);
	}
}
