@media (prefers-color-scheme: dark) {
	:root {
		--grayA1: hsl(0deg 0% 100% / 0%);
		--grayA2: hsl(0deg 0% 100% / 2.6%);
		--grayA3: hsl(0deg 0% 100% / 5.6%);
		--grayA4: hsl(0deg 0% 100% / 7.7%);
		--grayA5: hsl(0deg 0% 100% / 10.3%);
		--grayA6: hsl(0deg 0% 100% / 12.9%);
		--grayA7: hsl(0deg 0% 100% / 17.2%);
		--grayA8: hsl(0deg 0% 100% / 24.9%);
		--grayA9: hsl(0deg 0% 100% / 38.6%);
		--grayA10: hsl(0deg 0% 100% / 44.6%);
		--grayA11: hsl(0deg 0% 100% / 59.2%);
		--grayA12: hsl(0deg 0% 100% / 92.3%);
	}
}
