@media (prefers-color-scheme: dark) {
	:root {
		--greenA1: hsl(0deg 0% 0% / 0%);
		--greenA2: hsl(169deg 100% 48.5% / 2.7%);
		--greenA3: hsl(162deg 98.7% 57.9% / 7%);
		--greenA4: hsl(158deg 98.6% 59.7% / 10.5%);
		--greenA5: hsl(158deg 98.6% 60.7% / 14%);
		--greenA6: hsl(156deg 99.9% 62% / 18.7%);
		--greenA7: hsl(154deg 99.5% 63.1% / 25.7%);
		--greenA8: hsl(152deg 99.7% 64.2% / 37%);
		--greenA9: hsl(151deg 99.7% 63.8% / 60.5%);
		--greenA10: hsl(152deg 99.9% 66.5% / 66.1%);
		--greenA11: hsl(151deg 99.7% 69.2% / 74%);
		--greenA12: hsl(137deg 100% 95.8% / 98%);
	}
}
