:root {
	--green1: hsl(136deg 50% 98.9%);
	--green2: hsl(138deg 62.5% 96.9%);
	--green3: hsl(139deg 55.2% 94.5%);
	--green4: hsl(140deg 48.7% 91%);
	--green5: hsl(141deg 43.7% 86%);
	--green6: hsl(143deg 40.3% 79%);
	--green7: hsl(146deg 38.5% 69%);
	--green8: hsl(151deg 40.2% 54.1%);
	--green9: hsl(151deg 55% 41.5%);
	--green10: hsl(152deg 57.5% 37.6%);
	--green11: hsl(153deg 67% 28.5%);
	--green12: hsl(155deg 40% 14%);
}
