:root {
	--indigoA1: hsl(240deg 92.6% 26.5% / 0.8%);
	--indigoA2: hsl(223deg 100% 51% / 2.8%);
	--indigoA3: hsl(224deg 100% 50.1% / 5.9%);
	--indigoA4: hsl(223deg 98% 48.5% / 9.9%);
	--indigoA5: hsl(225deg 98.6% 46.4% / 15%);
	--indigoA6: hsl(224deg 99.5% 44.9% / 22.4%);
	--indigoA7: hsl(225deg 99.7% 43.9% / 31.8%);
	--indigoA8: hsl(226deg 99.5% 43.1% / 44.8%);
	--indigoA9: hsl(226deg 100% 41.2% / 75.7%);
	--indigoA10: hsl(226deg 99.8% 37.1% / 77.3%);
	--indigoA11: hsl(226deg 99.6% 31.1% / 79.7%);
	--indigoA12: hsl(226deg 99.3% 11.4% / 93.8%);
}
