@media (prefers-color-scheme: dark) {
	:root {
		--indigoA1: hsl(0deg 0% 0% / 0%);
		--indigoA2: hsl(234deg 97.4% 59.9% / 5.9%);
		--indigoA3: hsl(228deg 99.2% 61.7% / 14.4%);
		--indigoA4: hsl(227deg 99.7% 62% / 21.1%);
		--indigoA5: hsl(227deg 99.2% 62.3% / 27%);
		--indigoA6: hsl(226deg 99.9% 62.1% / 35%);
		--indigoA7: hsl(226deg 99.9% 62% / 47.1%);
		--indigoA8: hsl(226deg 99.9% 62.1% / 65.5%);
		--indigoA9: hsl(226deg 99.9% 63.6% / 84.8%);
		--indigoA10: hsl(227deg 99.8% 67.7% / 89.3%);
		--indigoA11: hsl(227deg 100% 76.3% / 98%);
		--indigoA12: hsl(226deg 100% 97.5% / 98%);
	}
}
