:root {
	--limeA1: hsl(80deg 93.8% 31.4% / 2%);
	--limeA2: hsl(85deg 99.3% 40.2% / 5.9%);
	--limeA3: hsl(84deg 98.7% 43.2% / 13.8%);
	--limeA4: hsl(84deg 99.6% 43% / 22%);
	--limeA5: hsl(85deg 99.8% 41.8% / 31%);
	--limeA6: hsl(82deg 99.8% 39.3% / 42%);
	--limeA7: hsl(79deg 99.7% 34.6% / 58.5%);
	--limeA8: hsl(76deg 99.8% 33.7% / 82.8%);
	--limeA9: hsl(81deg 99.8% 40.2% / 83.6%);
	--limeA10: hsl(80deg 100% 37.6% / 85.1%);
	--limeA11: hsl(75deg 99.5% 22% / 95%);
	--limeA12: hsl(78deg 99.6% 8.4% / 96.5%);
}
