:root {
	--mauve1: hsl(300deg 20% 99%);
	--mauve2: hsl(300deg 7.7% 97.5%);
	--mauve3: hsl(294deg 5.5% 95.3%);
	--mauve4: hsl(289deg 4.7% 93.3%);
	--mauve5: hsl(283deg 4.4% 91.3%);
	--mauve6: hsl(278deg 4.1% 89.1%);
	--mauve7: hsl(271deg 3.9% 86.3%);
	--mauve8: hsl(255deg 3.7% 78.8%);
	--mauve9: hsl(252deg 4% 57.3%);
	--mauve10: hsl(253deg 3.5% 53.5%);
	--mauve11: hsl(252deg 4% 44.8%);
	--mauve12: hsl(260deg 25% 11%);
}
