@media (prefers-color-scheme: dark) {
	:root {
		--mauve1: hsl(246deg 6% 9%);
		--mauve2: hsl(240deg 5.1% 11.6%);
		--mauve3: hsl(241deg 5% 14.3%);
		--mauve4: hsl(242deg 4.9% 16.5%);
		--mauve5: hsl(243deg 4.9% 18.8%);
		--mauve6: hsl(244deg 4.9% 21.5%);
		--mauve7: hsl(245deg 4.9% 25.4%);
		--mauve8: hsl(247deg 4.8% 32.5%);
		--mauve9: hsl(252deg 4% 45.2%);
		--mauve10: hsl(247deg 3.4% 50.7%);
		--mauve11: hsl(253deg 4% 63.7%);
		--mauve12: hsl(256deg 6% 93.2%);
	}
}
