@media (prefers-color-scheme: dark) {
	:root {
		--mint1: hsl(173deg 50% 6.6%);
		--mint2: hsl(176deg 73% 7.3%);
		--mint3: hsl(175deg 79.3% 8.9%);
		--mint4: hsl(174deg 84.8% 10.3%);
		--mint5: hsl(174deg 90.2% 11.9%);
		--mint6: hsl(173deg 96% 13.8%);
		--mint7: hsl(172deg 100% 16.8%);
		--mint8: hsl(170deg 100% 21.4%);
		--mint9: hsl(167deg 65% 66%);
		--mint10: hsl(163deg 80% 77%);
		--mint11: hsl(167deg 70% 48%);
		--mint12: hsl(165deg 80% 94.8%);
	}
}
