:root {
	--mintA1: hsl(168deg 95.4% 42.8% / 2.4%);
	--mintA2: hsl(164deg 99.1% 47.1% / 6.3%);
	--mintA3: hsl(164deg 99.3% 43.5% / 11.8%);
	--mintA4: hsl(164deg 99.3% 41.3% / 17.7%);
	--mintA5: hsl(165deg 99% 37.5% / 24.8%);
	--mintA6: hsl(165deg 100% 35% / 35.3%);
	--mintA7: hsl(166deg 99.9% 33.5% / 51%);
	--mintA8: hsl(168deg 99.6% 34.6% / 75%);
	--mintA9: hsl(167deg 99.9% 39.5% / 56.1%);
	--mintA10: hsl(167deg 99.7% 37.4% / 58.9%);
	--mintA11: hsl(172deg 99.8% 22.4% / 92.2%);
	--mintA12: hsl(172deg 99.7% 8.8% / 96.5%);
}
