:root {
	--oliveA1: hsl(120deg 89.3% 18.3% / 1.2%);
	--oliveA2: hsl(120deg 87.7% 16% / 2.8%);
	--oliveA3: hsl(120deg 99.5% 7.7% / 5.1%);
	--oliveA4: hsl(120deg 92.3% 8.5% / 7.5%);
	--oliveA5: hsl(120deg 86% 6.9% / 9.9%);
	--oliveA6: hsl(120deg 94.8% 6.8% / 12.2%);
	--oliveA7: hsl(120deg 99.3% 5.2% / 15.3%);
	--oliveA8: hsl(110deg 93.8% 5.2% / 24%);
	--oliveA9: hsl(111deg 98.7% 3% / 45.9%);
	--oliveA10: hsl(111deg 93.5% 2.9% / 49.9%);
	--oliveA11: hsl(111deg 95.2% 2.5% / 58.5%);
	--oliveA12: hsl(110deg 97.6% 2.6% / 93%);
}
