@media (prefers-color-scheme: dark) {
	:root {
		--orangeA1: hsl(0deg 0% 0% / 0%);
		--orangeA2: hsl(13deg 100% 49.7% / 5.4%);
		--orangeA3: hsl(20deg 100% 49.7% / 11.7%);
		--orangeA4: hsl(23deg 100% 49.8% / 16.6%);
		--orangeA5: hsl(23deg 99.4% 50.1% / 21.5%);
		--orangeA6: hsl(23deg 99.8% 51.1% / 28.6%);
		--orangeA7: hsl(23deg 99.7% 50.6% / 38.9%);
		--orangeA8: hsl(24deg 100% 49.9% / 52.3%);
		--orangeA9: hsl(24deg 99.9% 51.6% / 96.5%);
		--orangeA10: hsl(25deg 100% 58.6% / 98%);
		--orangeA11: hsl(24deg 100% 62.4% / 98%);
		--orangeA12: hsl(26deg 100% 94.2% / 98%);
	}
}
