:root {
	--plumA1: hsl(280deg 100% 51% / 1.2%);
	--plumA2: hsl(300deg 100% 51% / 2.8%);
	--plumA3: hsl(300deg 99% 40.9% / 6.3%);
	--plumA4: hsl(300deg 99.9% 38.5% / 10.2%);
	--plumA5: hsl(298deg 98.2% 35.9% / 15%);
	--plumA6: hsl(297deg 99.6% 33.7% / 21.6%);
	--plumA7: hsl(295deg 99.7% 32.6% / 31.4%);
	--plumA8: hsl(292deg 99.6% 32.4% / 43.2%);
	--plumA9: hsl(292deg 99.9% 31% / 71%);
	--plumA10: hsl(292deg 99.9% 30.8% / 76.5%);
	--plumA11: hsl(292deg 99.8% 30.7% / 83.2%);
	--plumA12: hsl(291deg 99.9% 9.7% / 95.3%);
}
