:root {
	--redA1: hsl(0deg 100% 51% / 1.2%);
	--redA2: hsl(0deg 100% 51% / 3.2%);
	--redA3: hsl(0deg 100% 50.2% / 6.3%);
	--redA4: hsl(0deg 100% 50% / 10.2%);
	--redA5: hsl(0deg 99.9% 47.5% / 15.3%);
	--redA6: hsl(0deg 99.5% 44.9% / 22.4%);
	--redA7: hsl(359deg 99.7% 42.7% / 31.8%);
	--redA8: hsl(359deg 99.6% 41.1% / 43.6%);
	--redA9: hsl(358deg 99.9% 42.9% / 71.8%);
	--redA10: hsl(358deg 99.9% 41% / 76.1%);
	--redA11: hsl(358deg 99.8% 38.3% / 83.2%);
	--redA12: hsl(355deg 99.3% 7.9% / 92.6%);
}
