@media (prefers-color-scheme: dark) {
	:root {
		--sageA1: hsl(0deg 0% 0% / 0%);
		--sageA2: hsl(123deg 94.4% 91.4% / 2.6%);
		--sageA3: hsl(123deg 82.9% 91% / 5.7%);
		--sageA4: hsl(124deg 97.9% 94.5% / 8.2%);
		--sageA5: hsl(125deg 90% 95.2% / 10.4%);
		--sageA6: hsl(142deg 95.1% 94.8% / 13.4%);
		--sageA7: hsl(143deg 92.8% 95.7% / 17.3%);
		--sageA8: hsl(146deg 94.7% 95.3% / 25.5%);
		--sageA9: hsl(151deg 98.2% 94.4% / 39.7%);
		--sageA10: hsl(148deg 99.5% 95.5% / 45.7%);
		--sageA11: hsl(152deg 95.1% 97.3% / 60%);
		--sageA12: hsl(149deg 93.3% 99.6% / 92.7%);
	}
}
