:root {
	--sage1: hsl(155deg 30% 98.8%);
	--sage2: hsl(150deg 16.7% 97.6%);
	--sage3: hsl(151deg 10.6% 95.2%);
	--sage4: hsl(151deg 8.8% 93%);
	--sage5: hsl(151deg 7.8% 90.8%);
	--sage6: hsl(152deg 7.2% 88.4%);
	--sage7: hsl(153deg 6.7% 85.3%);
	--sage8: hsl(154deg 6.1% 77.5%);
	--sage9: hsl(155deg 3.5% 55.5%);
	--sage10: hsl(154deg 2.8% 51.7%);
	--sage11: hsl(155deg 3% 43%);
	--sage12: hsl(155deg 24% 9%);
}
