@media (prefers-color-scheme: dark) {
	:root {
		--sandA1: hsl(0deg 0% 0% / 0%);
		--sandA2: hsl(60deg 89.8% 91.4% / 2.6%);
		--sandA3: hsl(60deg 95.5% 92.5% / 5.6%);
		--sandA4: hsl(60deg 75.6% 96.4% / 7.8%);
		--sandA5: hsl(60deg 81.9% 95.2% / 10.4%);
		--sandA6: hsl(41deg 87.6% 94.8% / 13.4%);
		--sandA7: hsl(60deg 95.4% 96.2% / 17.2%);
		--sandA8: hsl(49deg 93.5% 95.7% / 25.4%);
		--sandA9: hsl(52deg 97.3% 96.2% / 39.1%);
		--sandA10: hsl(52deg 97.8% 96.7% / 45.1%);
		--sandA11: hsl(51deg 97% 97.8% / 59.7%);
		--sandA12: hsl(60deg 88.7% 99.8% / 92.3%);
	}
}
