@media (prefers-color-scheme: dark) {
	:root {
		--skyA1: hsl(0deg 0% 0% / 0%);
		--skyA2: hsl(208deg 100% 49.8% / 4.5%);
		--skyA3: hsl(201deg 100% 49.8% / 9.9%);
		--skyA4: hsl(201deg 100% 50% / 14.8%);
		--skyA5: hsl(200deg 100% 49.8% / 19.8%);
		--skyA6: hsl(199deg 100% 49.9% / 25.6%);
		--skyA7: hsl(199deg 100% 49.9% / 33.7%);
		--skyA8: hsl(199deg 100% 50% / 45.3%);
		--skyA9: hsl(192deg 100% 70.8% / 98%);
		--skyA10: hsl(190deg 100% 77.6% / 98%);
		--skyA11: hsl(192deg 99.9% 59.6% / 92.4%);
		--skyA12: hsl(189deg 100% 96.8% / 98%);
	}
}
