@media (prefers-color-scheme: dark) {
	:root {
		--slateA1: hsl(0deg 0% 0% / 0%);
		--slateA2: hsl(181deg 98.9% 91.8% / 2.6%);
		--slateA3: hsl(182deg 86.7% 91.4% / 5.7%);
		--slateA4: hsl(209deg 86.7% 93.9% / 8.3%);
		--slateA5: hsl(200deg 90.3% 93.4% / 10.9%);
		--slateA6: hsl(209deg 95.3% 93.5% / 13.9%);
		--slateA7: hsl(204deg 98.5% 93.9% / 18.2%);
		--slateA8: hsl(209deg 94% 94.7% / 26.5%);
		--slateA9: hsl(207deg 97.3% 94% / 41.2%);
		--slateA10: hsl(209deg 99.4% 95.2% / 47.2%);
		--slateA11: hsl(208deg 98.7% 96.8% / 61.5%);
		--slateA12: hsl(211deg 86.7% 99.6% / 92.7%);
	}
}
