@media (prefers-color-scheme: dark) {
	:root {
		--tealA1: hsl(0deg 0% 0% / 0%);
		--tealA2: hsl(171deg 100% 49.2% / 3.1%);
		--tealA3: hsl(172deg 100% 49.7% / 7%);
		--tealA4: hsl(175deg 100% 49.7% / 10.5%);
		--tealA5: hsl(174deg 98.9% 50.1% / 14%);
		--tealA6: hsl(174deg 100% 51.8% / 18.7%);
		--tealA7: hsl(173deg 99.6% 53.2% / 25.7%);
		--tealA8: hsl(174deg 99.6% 53.3% / 36.6%);
		--tealA9: hsl(173deg 99.9% 54.6% / 60.9%);
		--tealA10: hsl(174deg 99.9% 53.8% / 67%);
		--tealA11: hsl(174deg 100% 52% / 74.8%);
		--tealA12: hsl(166deg 98.6% 95% / 97.9%);
	}
}
