:root {
	--teal1: hsl(165deg 60% 98.8%);
	--teal2: hsl(169deg 64.7% 96.7%);
	--teal3: hsl(169deg 59.8% 94%);
	--teal4: hsl(169deg 53.1% 90.2%);
	--teal5: hsl(170deg 47.1% 85%);
	--teal6: hsl(170deg 42.6% 77.9%);
	--teal7: hsl(170deg 39.9% 68.1%);
	--teal8: hsl(172deg 42.1% 52.5%);
	--teal9: hsl(173deg 80% 36%);
	--teal10: hsl(173deg 83.4% 32.5%);
	--teal11: hsl(174deg 90% 25.2%);
	--teal12: hsl(170deg 50% 12.5%);
}
