@media (prefers-color-scheme: dark) {
	:root {
		--tomato1: hsl(10deg 23% 9.4%);
		--tomato2: hsl(9deg 44.8% 11.4%);
		--tomato3: hsl(8deg 52% 15.3%);
		--tomato4: hsl(7deg 56.3% 18%);
		--tomato5: hsl(7deg 60.1% 20.6%);
		--tomato6: hsl(8deg 64.8% 24%);
		--tomato7: hsl(8deg 71.2% 29.1%);
		--tomato8: hsl(10deg 80.2% 35.7%);
		--tomato9: hsl(10deg 78% 54%);
		--tomato10: hsl(10deg 81.7% 59%);
		--tomato11: hsl(10deg 85% 62.8%);
		--tomato12: hsl(10deg 89% 96%);
	}
}
