:root {
	--tomatoA1: hsl(0deg 100% 51% / 1.2%);
	--tomatoA2: hsl(8deg 100% 51% / 3.2%);
	--tomatoA3: hsl(7deg 100% 50.2% / 6.7%);
	--tomatoA4: hsl(8deg 100% 50.1% / 11.4%);
	--tomatoA5: hsl(7deg 99.5% 47.9% / 17.3%);
	--tomatoA6: hsl(9deg 99.9% 46.2% / 25.5%);
	--tomatoA7: hsl(10deg 99.8% 43.6% / 36.5%);
	--tomatoA8: hsl(10deg 99.5% 41.8% / 49.9%);
	--tomatoA9: hsl(10deg 99.9% 43.8% / 82%);
	--tomatoA10: hsl(10deg 100% 41.8% / 85.9%);
	--tomatoA11: hsl(10deg 99.9% 38.8% / 92.2%);
	--tomatoA12: hsl(10deg 99% 7.4% / 93.4%);
}
