:root {
	--violetA1: hsl(270deg 94.3% 34.6% / 1.2%);
	--violetA2: hsl(252deg 100% 51% / 2%);
	--violetA3: hsl(254deg 100% 50% / 5.1%);
	--violetA4: hsl(251deg 98.3% 48.2% / 8.7%);
	--violetA5: hsl(252deg 99% 45.7% / 13%);
	--violetA6: hsl(251deg 99.1% 44% / 18.9%);
	--violetA7: hsl(252deg 99.5% 41.7% / 27.9%);
	--violetA8: hsl(252deg 100% 40.7% / 40%);
	--violetA9: hsl(252deg 99.9% 35.8% / 66.3%);
	--violetA10: hsl(251deg 99.6% 32.5% / 69.1%);
	--violetA11: hsl(250deg 99.8% 28.4% / 72.6%);
	--violetA12: hsl(254deg 99.5% 11.9% / 92.6%);
}
